 html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

div#map
{
    height: 500px;
}

.heading
{
	text-align: center;
	font-family: 'Cutive', serif;
	color: green;
}

.userInputForm 
{
	width:20%;
}