html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #66ABBC;
}


/*navigation bar*/

.navBar {
	background-color: #FFF7C0;

}

/*this is the page heading in navbar*/
.heading
{
	text-align: center;
	font-family: 'Cutive', serif;
	color: #251e08;
	font-size: 25px;
}

/*id  for text input field*/
#userName{
	width:35%;
}

/*id carrying an name input and submit button*/
.userNameInput.col.s5 {
	float:right;
	margin-top:32px;
	font-weight: bolder;
}

.eventNearMeImage
{
	border-radius:138px;
	width:150px;
}

img.eventNearMeImage
{
	width:150px;
}

/*SignIn button*/
#enterWebsite{
	margin-left: 10px;
}

/*end of navbar styling*/


/*front page container design*/

.imageRow {
	background-size: cover;
}

/*end of front page container design*/



/*start of main page*/

.userInputForm
{
	background-color: #111110;
	opacity: 0.5;
	color:white;

}

.row.col.m12{
	/*margin-left: 70px;*/
}

#submitButton
{
	margin: 34px 2px 20px 0;
	background-color: #8bc34a;
	border-radius: 5px;
}

#userInputForm{
	 border-radius: 25px;
}

img.eventNearMeImage{
	width: 100%;
	margin:0;
	padding:0;
}

.eventDetails.col.m6 {
	border: 1px solid #fff7c0;
	padding:0;
	
}

.infoURL{
	color:purple;
}


::-webkit-input-placeholder, #date{
    color: #8bc34a;
    font-weight: bolder;

}

.eventDisplayTabs {
    background-color: transperent;
    display:none;
    font-size: 0.8em;
}

.eventDescription{
	padding:0;
/*	border-left:1px solid red;
	border-right:1px solid red;
	border-bottom:1px solid red;
	border-top:1px solid red;*/
	height:200px;
	margin:0;
	background: #FFF7C0;
	
}

.tabs .tab a:hover {

	background-color: #111110;

}

.tabs .tab a {
	color: #261f09;
	font-weight: bolder;
}

#submitButton:hover{
	opacity:0.8;
	
}

#submitButton{
	background: transparent;
}

.mainPage {
	display:none;
}

#map, #tableHeading, #tableBody, .eventDisplayTabs {
	display:none;
}

 .eventDisplayTabs{
 	position:absolute;
 	top:10px;
 	right:0px;
 	background: transparent;
 	z-index: 1000;
 }
#map
{
    height: 500px;
    width:100%;
}



.map-row{
	top: 20px;
	right:0px;


	position: relative;

}

table{
	border:1px solid black;
	margin-top: 20px;
}


