 html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body 
{
	background-image: url(../images/background5.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}

div#map
{
    height: 500px;
}

.heading
{
	text-align: center;
	font-family: 'Cutive', serif;
	color: #251e08;
}

.userInputForm 
{
background-color: white;
padding:15px;
}

button#submitButton
{
	margin: 34px 2px 20px 0;
}